<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>MaterializeCSS Multi-Column Card Flow</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" />
  
  
      <link rel="stylesheet" href="static/style.css?v=5">

  
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>Nifty Top 50 shares</h1>
        <h6>Last updated: {{time}}</h6>
      </div>
    </div>
    <div class="row">
      {% for items in data %}
        <div class="col m3">
         <div class="card">
           <div class="card-content">
             <span class="card-title blue-text">{{items['symbol']}}</span>
             <p>
               <b>LTP:</b> {{items['ltp']}}
             </p>
             <p>
               <b>% Change:</b> {{items['netPrice']}}
             </p>
             <p>
               <b>Traded Qty:</b> {{items['tradedQuantity']}}
             </p>
             <p>
               <b>Value(in Lakhs):</b> {{items['turnoverInLakhs']}}
             </p>
           </div>
           <div class="card-action">
             <p><b>Open:</b> {{items['openPrice']}}</p>
             <p><b>High:</b> {{items['highPrice']}}</p>
             <p><b>Low:</b> {{items['lowPrice']}}</p>
           </div>
          </div>
      </div>
      {% endfor %}
    </div>      
      </div>
  </div>
</div>
  
  
</body>
</html>
